doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/movie.css')
    link(rel='stylesheet', href='/stylesheets/seats.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='http://documentcloud.github.com/underscore/underscore-min.js')
    script(src='socket.io/socket.io.js')
    script(src='javascripts/socket_client.js')
    script(src='javascripts/ui.js')
    script(src='javascripts/seats.js')
    script(src='javascripts/app.js')
  body
    block movies
    block seats