<!DOCTYPE hltml>
<html>
  <head>
    <title>Movie Ticket Purchase APP</title>
    <link rel="stylesheet" href="../public/stylesheets/movie.css" />
  </head>
  <body>
    <div class="content">
      <div class="header">
        <h1 class="title">Guardians Of The Galaxy</h1>
      </div>
      <div class="body">
        <div class="multi-media">
          <img class="movis-poster" src="../public/images/Guardians.jpg" /><br>
          <a class="play-trailer" href="trailer.html">Play The Trailer</a>
        </div>
        <div class="movie-details">
          <label>Synopsis</label>
          <p class="description">
            An action-packed, epic space adventure, Marvel's 'Guardians of the Galaxy' expands the Marvel Cinematic Universe into the cosmos, where brash adventurer Peter Quill finds himself the object of an unrelenting bounty hunt after stealing a mysterious orb coveted by Ronan, a powerful villain with ambitious that threaten the entire universe.  To evade the ever-persistent Ronan, Quill is forced into an uneasy truce with a quartet of disparate misfits-Rocket, a gun-toting raccoon, Groot, a tree-like humanoid, the deadly and enigmatic Gamora and the revenge-driven humanoid, the deadly and enigmatic Gamora and the revenge-driven Drax the Destroyer.  But when Quill discovers the true power of the orb and the menace it poses to the cosmos, he must do his best to rally his ragtag rivals for a last, desperate stand-with the galaxy's fate in the balance.
          </p>
          <p><label>Running Time</label>2 hr 2 min</p>
          <p><label>Genre</label>Action</p>
          <p><label>Director</label>James Gunn</p>
          <p><label>Cast</label>Zoe Saldana, Chris Pratt, Dave Bautista</p>
          <p><label>Release Date</label>August 1, 2014</p>
        </div>
        <div class="reserve-ticket">
          <label>Show Times</label>
          <form>
            <input> date </input><br><!-- show movie date -->
            <input> time</input><br><!-- show movie time -->
            <input type="submit"></input>
          </form>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  </body>
</html>
