extends app

block movies
  .container
    .header
      h2
        span S
        | how
        span T
        | imes
    .body
      form.movies-schedule
        p#picked-date
        input#date-select(type="hidden")
      ul.movies
        li.movie
          h3.movie-title
            span.moive-information
          img.movie-poster(src="")
          table.movie-showtime
            tr
              td
              td
              td
        hr
        li.movie
          h3.movie-title
            span.moive-information
          img.movie-poster(src="")
          table.movie-showtime
            tr
              td
              td
              td
        hr
        li.movie
          h3.movie-title
            span.moive-information
          img.movie-poster(src="")
          table.movie-showtime
            tr
              td
              td
              td
        hr
        li.movie
          h3.movie-title
            span.moive-information
          img.movie-poster(src="")
          table.movie-showtime
            tr
              td
              td
              td
    .footer
