extends app

block movies
  .container
    .header
      h2
        span S
        | how
        span T
        | imes
    .body
      form.movies-schedule
        p#picked-date
        input#date-select(type="hidden")
      ul.movies
        for movie in movies
          li.movie
            h3.movie-title=movie.name
              span.moive-information
                label RunTime
                =movie.runtime
                lable Rate
                =movie.rate
            img.movie-poster(src="#{movie.poster}")
            table.movie-showtime
              tr
                td
                td
                td
    .footer
