<!DOCTYPE hltml>
<html>
  <head>
    <title>Movie Ticket Purchase APP</title>
    <link rel="stylesheet" href="stylesheets/movie.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2><span>S</span>how<span>T</span>imes</h2>
      </div>
      <div class="body">
        <form class="movies-schedule">
          <p id="picked-date"></p>
          <input type="hidden"id="date-select">
        </form>
        <ul class="movies">
          <li class="movie">
            <h3 class="movie-title"><span class="moive-information"></span></h3>
            <img src="" class="movie-poster">
            <table class="movie-showtime">
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </li>
          <hr>
          <li class="movie">
            <h3 class="movie-title"><span class="moive-information"></span></h3>
            <img src="" class="movie-poster">
            <table class="movie-showtime">
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </li>
          <hr>
          <li class="movie">
            <h3 class="movie-title"><span class="moive-information"></span></h3>
            <img src="" class="movie-poster">
            <table class="movie-showtime">
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </li>
          <hr>
          <li class="movie">
            <h3 class="movie-title"><span class="moive-information"></span></h3>
            <img src="" class="movie-poster">
            <table class="movie-showtime">
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="footer"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  </body>
</html>
