extends app

block movies
  .container
    .movies
      form.schedule
        p=date
          a
            i.fa.fa-calendar
        input#date-select(type="hidden")
      ul.list-unstyled
        for movie in movies
          li.movie
            h2.movie-title=movie.name
            img.img-rounded.movie-poster(src="#{movie.poster}")
            p.moive-information
                label RunTime
                =movie.runtime
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                label Rate
                =movie.rate
            table.movie-showtime
              tr
                td
                td
                td
