.content {
  border: 1.8px solid #959595;
  border-radius: 3px;
  height: 80%;
  margin: 50px;
}

.header {
  background: url("../images/brushed_@2X.png");
  border-radius: 3px;
}

.title {
  color: #423F43;
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 50px;
  margin: 0px;
  padding: 10px;
  text-shadow: 1px 1px #AAA8AB;
}

.body {
  padding: 30px;
}

.multi-media {
  height: 680px;
  position: absolute;
  width: 300px;
}

.movis-poster {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 3px;
  width: 300px;
}

.play-icon {
  height: 13px;
  padding-right: 5px;
}

.play-trailer {
  color: #423F43;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.movie-details {
  height: 680px;
  position: absolute;
  left: 400px;
  width: 800px;
}

p {
  font-family: inherit;
  font-size: 16px;
}

label {
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  color: #959595;
  padding-left: 30px;
  padding-right: 20px;
  text-transform: uppercase;
}

.description {
  line-height: 18px;
  margin-top: 5px;
  padding-left: 30px;
  padding-right: 10px;
}

.reserve-ticket {
  background-color: yellow;
  position: absolute;
  left: 1200px; 
}
