#ui-datepicker-div {
  left: 300px !important;
  top: 93px !important;
}
.ui-datepicker-trigger {
  height: 15px;
  width: 15px;
  position: relative;
  top: -28px;
  left: 195px;
}
.movies{
  margin-top: 95px;
}
.schedule {
  margin-bottom: 20px;
}
.schedule #datepicker {
  display: block;
  width: 230px;
  height: 34px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.schedule a {
  color: #515151;
}
.schedule a:hover {
  color: #A40802;
  cursor: pointer;
}
.fa.fa-calendar {
  margin-left: 16px;
}
.list-unstyled {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}
.movie {
  border-bottom: 1.5px solid #ccc;
  padding: 15px;
  padding-bottom: 60px;
  padding-top: 10px;
}
.movie-title {
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
.movie-poster {
  width: 200px;
  height: 270px;
}
.moive-information {
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
}
label {
  color: #757A7C;
  font-size: 15px;
  padding-right: 7px;
}
.movie-showing {
  display: block;
  position: relative;
  left: 250px;
  top: -300px;
}
.movie-showing td{
  color: #ccc;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 10px;
}
.movie-showing a {
  font-weight: 700;
}
.movie-showing a:hover {
  text-decoration: none;
  cursor: pointer;
}
